body {
    background-color: #222831;
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

.header {
    margin: auto;
    align-content: center;
    color: #fff;
    max-width: 600px;
    padding: 10px 0;
}

/* 3.1. Texto de ejemplo en css externo */
.text-example {
    color: #c536c0;
}

/* 4.1. Texto en negrita */
.text-bold {
    font-weight: bold;
}

/* 5.1. div centrado horizontalmente */
#contenedor {
    background-color: #3b4554;
    margin: auto 70px;
    display: flex;
    justify-content: center;
}

/* 6.1. Agrupar selectores */
h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4A90E2;
}

/* 7.1. Estilos de caja básico */
.caja {
    background-color: #3b4554;
    border: #000 solid 1px;
    padding: 20px;
    margin: 10px;
}

.titulo {
    /* text-align: center; */
    color: #fff;
    font-size: 2em;
}

.subt {
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}