/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

/* Definiendo variables */
:root {
    --color-pri: #e24f4f;
    --color-sec: #5db141;
    --color-ter: #4a4ec9;

    /* Variables para la ruleta */
    --top: 20px;
    --left: 20px;
    --tamano: 200px;
    --tamano-border: 100px;
    --tamano-centro: 300px;
    --grados: 20deg;
    --rotacion: 0deg;
    --color-impar: rgb(190, 0, 0);
    --color-par: rgb(0, 0, 0);
    --color-borde: #ffffff;
    --color-centro: rgb(70, 45, 18);
    --color-divisor: rgb(255, 255, 255);
}


body {
    background-color: #222831;
    color: #fff;
    font-family: 'Inter';
    height: 100vh; /* Hacemos que el cuerpo ocupe toda la altura de la ventana */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
}

.header {
    margin: auto;
    align-content: center;
    color: #fff;
    max-width: 700px;
    padding: 20px;
}

/* 3.1. Texto de ejemplo en css externo */
.text-example {
    color: #c536c0;
}

/* 4.1. Texto en negrita */
.text-bold {
    font-weight: bold;
}

/* 5.1. div centrado horizontalmente */
#contenedor {
    background-color: #3b4554;
    margin: auto 70px;
    display: flex;
    justify-content: center;
}

/* 6.1. Agrupar selectores */
h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4A90E2;
}

/* 7.1. Estilos de caja b谩sico */
.caja {
    background-color: #3b4554;
    border: #000 solid 1px;
    padding: 20px;
    margin: 10px;
}

/* 8.1. div centrado horizontalmente con margin */
.elm-margen {
    background-color: #3b4554;
    width: 600px;
    margin: 0 auto;
}

/* 9.1. Alineaci贸n y subrayado de texto */
.alin-text {
    text-align: right;
    text-decoration: underline;
}

/* 11.1 Degradado */
.lin-gradient {
    background: linear-gradient(to right, #00992b, #17008c);
    width: 100px;
    height: 100px;
    margin: 10px;
}

/* 12.1. C铆rculo */
.div-radius {
    border-radius: 50%;
    background-color: #3b4554;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

/* 13.1. inline-block */
.div-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #3b4554;
    margin: 10px;
}

/* 14.1. div-relativo */
.div-relativo {
    position: relative;
    top: 15px;
    width: 100px;
    height: 100px;
    background-color: #3b4554;
    margin: 10px;
}

/* 15.1. absoluto */
.absoluto {
    position: absolute;
    font-size: medium;
    top: 1px;
    width: 300px;
    height: 50px;
    margin: 10px;
}

.cont-relat {
    position: relative;
}

.cont-abs {
    display: flex;
    height: 90px;
}

/* 16.1. menu */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 99.9%;
    height: 50px;
    margin: auto;
    position: relative;
    background-color: #3b4554;
}

.menu li {
    float: left;
    width: 33.3%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.menu a {
    display: flex;
    width: 99.9%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9; /* Propiedad z-index para controlar la superposici贸n de elementos */
}

/* Propiedades del slider activo */
.slider{
    width: 33.3%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 0.3s, background-color 0.3s;
}

/* Propiedades del slider hover */
.slider-hover {
    width: 33.3%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.3s, background-color 0.3s;
} 

/* Inhabilitar el click del enlace activo */
.menu li a.active {
    pointer-events: none;
}

/* Cambiar de color de slider hover*/
.menu li:nth-child(1):hover ~ .slider-hover,
.menu li:nth-child(1):focus ~ .slider-hover,
.menu li:nth-child(1):active ~ .slider-hover {
    background-color: #2E5077;
    left: 0;
}

.menu li:nth-child(2):hover ~ .slider-hover,
.menu li:nth-child(2):focus ~ .slider-hover,
.menu li:nth-child(2):active ~ .slider-hover {
    background-color: #4DA1A9;
    left: 33.3%;
}

.menu li:nth-child(3):hover ~ .slider-hover,
.menu li:nth-child(3):focus ~ .slider-hover,
.menu li:nth-child(3):active ~ .slider-hover {
    background-color: #79D7BE;
    left: 66.6%;
}

/* Propiedades del modal de contacto */
.modal-content {
    background-color: #3b4554;
    padding: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.text-modal {
    font-family: 'Inter';
    color: white;
}

/* Peque帽a animaci贸n de prueba con CSS y @starting-style */
dialog[open] {
    scale: 1;
    transition: scale .3s ease-in-out;

    @starting-style {
        opacity: 0;
        scale: 0;
    }
}
  
dialog {
    transition: scale .3s ease, display .3s ease allow-discrete;
    scale: 0;
}

/* Animaci贸n sencilla del fondo (backdrop) */
dialog::backdrop {
    opacity: 0;
    background-color: #0008;

    transition: opacity 500ms ease-out, display 600ms allow-discrete;
}
  
dialog[open]::backdrop {
    background-color: #0008;
    opacity: 1;
}

@starting-style {
    dialog[open]::backdrop {
        opacity: 0;
    }
}

/* Bot贸n para cerrar modal */
.close {
    all: unset;
    background-color: #79D7BE;
    color: white;
    top: 0;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}


/* Me tom贸 un par de horas hacer que la barra de navegaci贸n se vea medianamente decente,
todo para que al final la soluci贸n sea mucho m谩s sencilla. Solo por el chiste dejar茅 las propiedades que hab铆a puesto anteriomente */

/* .menu {
    display: flex;
    justify-content: center;
    background-color: #3b4554;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    align-items: center;
}

.menu-list {
    list-style: none;
    display: flex;
} */

/* a.active {
    pointer-events: none;
} */

/* Propiedades de la clase slider */
/* li.slider{
    width: 33.3%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* Esto hace que el slider est茅 posicionado por debajo del enlace */
    /* z-index: 8;
    transition: left 0.3s, background-color 0.3s;
} */ 

/* .menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
    left: 0;
    background-color: #2E5077;
} */

/* .menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
    left: 33.3%;
    background-color: #4DA1A9;
} */
/* 
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
    left: 66.6%;
    background-color: #79D7BE;
} */

.btns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

/* 17.1. Propiedades de bot贸n Michael Jackson */
.btn-trans {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: #000000;
    color: rgb(255, 255, 255);
    position: relative;
    transition: all 1s ease;
}

.btn-trans span {
    display: inline;
    transition: opacity 1s ease;
}

.btn-trans:hover {
    background-color: #ffffff;
}

.btn-trans:hover span {
    opacity: 0;
}

.btn-trans::after {
    content: "Michael Jackson";
    display: inline;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-4.5%, -50%);
    color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.btn-trans:hover::after {
    opacity: 1;
}

/* 17.2. Cambio de color en un bot贸n */
.btn-trans-clr {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: #4E3636;
    color: white;
    position: relative;
    transition: all 1s ease;
}

.btn-trans-clr:hover {
    background-color: #CD1818;
}

/* 18.1. Propiedades del contenedor y la caja */
.cont-anim {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #3b4554;
    position: relative;
}

.caja-anim {
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    margin: 0;
    background-color: turquoise;
    position: absolute;
    animation: mover 3s ease-in-out infinite; /* Llamar a la animaci贸n 'mover' */
}

/* 18.2. Definici贸n de la animaci贸n */
@keyframes mover {
    0% {
        left: 5%;
    }

    50% {
        left: 90%;
    }

    100% {
        left: 5%;
    }
}

/* 19.1. Propiedades del elemento a ocultar */
.elm-hidden {
    background-color: #3b4554;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 200px;
}

/* Media Querys de la clase absoluto */
@media (min-width: 639px) {
    /* .absoluto {
        top: 2360px;
    } */
}

@media (max-width: 640px) {
    /* .absoluto {
        top: 2380.6px;
    } */
}

@media (max-width: 630px) {
    /* .absoluto {
        top: 2398px;
    } */

    .btns {
        display: flex;
        flex-direction: column;
    }

    .ico-enlace {
        font-size: 16px !important;
    }

    .btn-trans::after {
        content: "Michael Jackson";
        display: inline;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(7.5%, -50%);
        color: rgb(0, 0, 0);
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
}

@media (max-width: 542px) {
    /* .absoluto {
        top: 2417px;
    } */
}

@media (max-width: 492px) {
    /* .absoluto {
        top: 2437px;
    } */
}

/* 19.2. Media Query para ocultar elemento en pantallas con un ancho menor a 600px */
@media (max-width: 600px) {
    .elm-hidden{
        display: none;
    }
}

/* 20.1. Pseudo-elementos (::before)  */
.cont-enlace {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, auto);
    width: 80%;
    gap: 20px;
    margin: 0 auto;
}

.ico-enlace {
    text-decoration: none;
    font-size: 18px;
    color: #249395;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.ico-enlace::before {
    content: "";
    margin-right: 8px; /* Espacio entre el icono y el texto */
    font-size: 20px;
    vertical-align: middle; /* Alineaci贸n vertical*/
}

.ico-enlace:hover {
    color: turquoise;
}

/* 21.1. Propiedades de cada elemento con su respectivo color */
.color-1 {
    text-align: center;
    color: var(--color-pri);
}

.color-2 {
    text-align: center;
    color: var(--color-sec);
}

.color-3 {
    text-align: center;
    color: var(--color-ter);
}

/* 22.1. Content rotate*/
/* .cont-rotate {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 0;
    width: 95%;
} */

/* Propiedades de ruleta fea */
#rulet-fea {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subt-sect {
    font-family: 'Inter';
    text-align: center;
    color: white;
}

#ruleta {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--tamano);height: var(--tamano); 
    background-color: red;
    border-radius: 50%;
    border: calc(var(--tamano-border)/30) solid var(--color-borde);
    will-change: transform;transition: transform 10s cubic-bezier(0,0,0.3,1);
    transform: rotate(var(--rotacion));
    box-shadow: 0px 0px calc(var(--tamano-border)/20) black;
}

#ruleta:hover {
  --rotacion: 4000deg;
}

#ruleta:after {
  position: absolute;
  width: calc(var(--tamano-centro)/7.5);height: calc(var(--tamano-centro)/7.5);
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
  content: "";
  background-color: var(--color-centro);
  border-radius: 50%;
  box-shadow: 0px 0px calc(var(--tamano-border)/20) black;
}

#divisores div {
  position: absolute;
  width: calc(var(--tamano)/40);height: calc(var(--tamano)/2);
  background-color: var(--color-divisor);
  transform-origin: 0 0;
  transform: rotate(calc(var(--grados) / 2 + var(--grados) * var(--posicion))) translate(-50%,-100%);
}

#sectores {
  position: absolute;
  width: var(--tamano);height: var(--tamano);
  border-radius: 50%;
  overflow: hidden;
}

#sectores div {
  position: absolute;
  top: 0%;left: 50%;
  width: calc(var(--tamano)/2);height: calc(var(--tamano)/2);
  transform-origin: 0% 100%;
  transform: rotate(calc(-90deg + var(--grados) / 2 + var(--grados) * var(--posicion))) skew(calc((90deg - var(--grados)) * -1));
}
#sectores div::before {
  position: absolute;
  width: inherit;height: inherit;
  border-radius: 0 100% 0 0;
  background-image: linear-gradient(45deg,var(--color-impar),black);
  content: "";
  transform-origin: 0% 100%;
  transform: skew(90deg - var(--grados));
}
#ruleta div:nth-child(even)::before {
  background-image: linear-gradient(45deg,var(--color-par),black);
}

div:nth-child(1) {--posicion: 0}
div:nth-child(2) {--posicion: 1}
div:nth-child(3) {--posicion: 2}
div:nth-child(4) {--posicion: 3}
div:nth-child(5) {--posicion: 4}
div:nth-child(6) {--posicion: 5}
div:nth-child(7) {--posicion: 6}
div:nth-child(8) {--posicion: 7}
div:nth-child(9) {--posicion: 8}
div:nth-child(10) {--posicion: 9}
div:nth-child(11) {--posicion: 10}
div:nth-child(12) {--posicion: 11}
div:nth-child(13) {--posicion: 12}
div:nth-child(14) {--posicion: 13}
div:nth-child(15) {--posicion: 14}
div:nth-child(16) {--posicion: 15}
div:nth-child(17) {--posicion: 16}
div:nth-child(18) {--posicion: 17}

/* 22.2. Propiedades de Blue lobster */
.lobster-rotate {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.lobster-rotate:hover {
    transform: rotate(45deg);
}

/* 23.1. Propiedades de clase cont-shadow */
.cont-shadow {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 50px;
    background-color: #249395;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.6);
}

/* 24.1. Propiedades de clase text-column-2 */
.text-column-2 {
    column-count: 2;
    column-gap: 20px;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}
.text-column-2 p {
    margin: 0;
}

/* 25.1. Propiedades de la clase img-filter */
.img-center {
    text-align: center;
}

.img-filter {
    height: auto;
    width: 200px;
    filter: grayscale(100%);
}

/* 26.1. Propiedades para el efecto overlay */
.cont-overlay {
    position: relative;
    display: flex;
    justify-content: center;
}

.img-overlay {
    height: auto;
    width: 200px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay:hover {
    opacity: 1;
}

.texto-overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* 27.1. Propiedades de la clase spinner */
.spinner {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #249395; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: girar 2s linear infinite; /* Animaci贸n de giro */
}

/* Animaci贸n con @keyframes */
@keyframes girar {
    from {
        transform: rotate(0deg); /* Comienza en 0 grados */
    }
    to {
        transform: rotate(360deg); /* Gira hasta 360 grados */
    }
}

.titulo {
    /* text-align: center; */
    color: #fff;
    font-size: 2em;
    padding: 0;
    margin: 15px 0;
}

a .btn-repo {
    text-decoration: none;
}

.btn-repo {
    background-color: #249395;
    color: white;
    border-radius: 7px;
    border: 0;
    padding: 6px 14px;
    cursor: pointer;
}

.section-header {
    display: flex;
    gap: 15px;
    
}

.img-header {
    margin-top: 10px;
    width: 100px;
}

footer {
    color: white;
    text-align: center; 
    padding: 20px;
    margin: auto;
    bottom: 0;
    overflow: hidden;
    max-width: 700px;
}

.subt {
    color: #fff;
    font-family: 'Inter';
}