
/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

body {
    background-color: #222831;
    color: #fff;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
}

.header {
    margin: auto;
    align-content: center;
    color: #fff;
    max-width: 700px;
    padding: 10px 0;
}

/* 3.1. Texto de ejemplo en css externo */
.text-example {
    color: #c536c0;
}

/* 4.1. Texto en negrita */
.text-bold {
    font-weight: bold;
}

/* 5.1. div centrado horizontalmente */
#contenedor {
    background-color: #3b4554;
    margin: auto 70px;
    display: flex;
    justify-content: center;
}

/* 6.1. Agrupar selectores */
h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4A90E2;
}

/* 7.1. Estilos de caja básico */
.caja {
    background-color: #3b4554;
    border: #000 solid 1px;
    padding: 20px;
    margin: 10px;
}

/* 8.1. div centrado horizontalmente con margin */
.elm-margen {
    background-color: #3b4554;
    width: 600px;
    margin: 0 auto;
}

/* 9.1. Alineación y subrayado de texto */
.alin-text {
    text-align: right;
    text-decoration: underline;
}

/* 11.1 Degradado */
.lin-gradient {
    background: linear-gradient(to right, #00992b, #17008c);
    width: 100px;
    height: 100px;
    margin: 10px;
}

/* 12.1. Círculo */
.div-radius {
    border-radius: 50%;
    background-color: #3b4554;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

/* 13.1. inline-block */
.div-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #3b4554;
    margin: 10px;
}

/* 14.1. div-relativo */
.div-relativo {
    position: relative;
    top: 15px;
    width: 100px;
    height: 100px;
    background-color: #3b4554;
    margin: 10px;
}

.titulo {
    /* text-align: center; */
    color: #fff;
    font-size: 2em;
}

.subt {
    color: #fff;
    font-family: 'Inter';
}