



/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

body {
    background-color: #222831;
    color: #fff;
    font-family: 'Inter';
    height: 100vh; /* Hacemos que el cuerpo ocupe toda la altura de la ventana */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
}

.header {
    margin: auto;
    align-content: center;
    color: #fff;
    max-width: 700px;
    padding: 10px 0;
}

/* 3.1. Texto de ejemplo en css externo */
.text-example {
    color: #c536c0;
}

/* 4.1. Texto en negrita */
.text-bold {
    font-weight: bold;
}

/* 5.1. div centrado horizontalmente */
#contenedor {
    background-color: #3b4554;
    margin: auto 70px;
    display: flex;
    justify-content: center;
}

/* 6.1. Agrupar selectores */
h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4A90E2;
}

/* 7.1. Estilos de caja básico */
.caja {
    background-color: #3b4554;
    border: #000 solid 1px;
    padding: 20px;
    margin: 10px;
}

/* 8.1. div centrado horizontalmente con margin */
.elm-margen {
    background-color: #3b4554;
    width: 600px;
    margin: 0 auto;
}

/* 9.1. Alineación y subrayado de texto */
.alin-text {
    text-align: right;
    text-decoration: underline;
}

/* 11.1 Degradado */
.lin-gradient {
    background: linear-gradient(to right, #00992b, #17008c);
    width: 100px;
    height: 100px;
    margin: 10px;
}

/* 12.1. Círculo */
.div-radius {
    border-radius: 50%;
    background-color: #3b4554;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

/* 13.1. inline-block */
.div-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #3b4554;
    margin: 10px;
}

/* 14.1. div-relativo */
.div-relativo {
    position: relative;
    top: 15px;
    width: 100px;
    height: 100px;
    background-color: #3b4554;
    margin: 10px;
}

/* 15.1. absoluto */
.absoluto {
    position: absolute;
    font-size: medium;
    bottom: 100px;
    width: 300px;
    height: 50px;
    margin: 10px;
}

.cont-abs {
    display: flex;
    height: 90px;
}

/* 16.1. menu */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 99.9%;
    height: 50px;
    margin: auto;
    position: relative;
    background-color: #3b4554;
}

.menu li {
    float: left;
    width: 33.3%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.menu a {
    display: flex;
    width: 99.9%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9; /* Propiedad z-index para controlar la superposición de elementos */
}

/* Propiedades del slider activo */
.slider{
    width: 33.3%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 0.3s, background-color 0.3s;
}

/* Propiedades del slider hover */
.slider-hover {
    width: 33.3%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.3s, background-color 0.3s;
} 

/* Inhabilitar el click del enlace activo */
.menu li a.active {
    pointer-events: none;
}

/* Cambiar de color de slider hover*/
.menu li:nth-child(1):hover ~ .slider-hover,
.menu li:nth-child(1):focus ~ .slider-hover,
.menu li:nth-child(1):active ~ .slider-hover {
    background-color: #2E5077;
    left: 0;
}

.menu li:nth-child(2):hover ~ .slider-hover,
.menu li:nth-child(2):focus ~ .slider-hover,
.menu li:nth-child(2):active ~ .slider-hover {
    background-color: #4DA1A9;
    left: 33.3%;
}

.menu li:nth-child(3):hover ~ .slider-hover,
.menu li:nth-child(3):focus ~ .slider-hover,
.menu li:nth-child(3):active ~ .slider-hover {
    background-color: #79D7BE;
    left: 66.6%;
}

/* Propiedades del modal de contacto */
.modal-content {
    background-color: #3b4554;
    padding: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.text-modal {
    font-family: 'Inter';
    color: white;
}

/* Pequeña animación de prueba con CSS y @starting-style */
dialog[open] {
    scale: 1;
    transition: scale .3s ease-in-out;

    @starting-style {
        opacity: 0;
        scale: 0;
    }
}
  
dialog {
    transition: scale .3s ease, display .3s ease allow-discrete;
    scale: 0;
}

/* Animación sencilla del fondo (backdrop) */
dialog::backdrop {
    opacity: 0;
    background-color: #0008;

    transition: opacity 500ms ease-out, display 600ms allow-discrete;
}
  
dialog[open]::backdrop {
    background-color: #0008;
    opacity: 1;
}

@starting-style {
    dialog[open]::backdrop {
        opacity: 0;
    }
}

/* Botón para cerrar modal */
.close {
    all: unset;
    background-color: #79D7BE;
    color: white;
    top: 0;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}


/* Me tomó un par de horas hacer que la barra de navegación se vea medianamente decente,
todo para que al final la solución sea mucho más sencilla. Solo por el chiste dejaré las propiedades que había puesto anteriomente */

/* .menu {
    display: flex;
    justify-content: center;
    background-color: #3b4554;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    align-items: center;
}

.menu-list {
    list-style: none;
    display: flex;
} */

/* a.active {
    pointer-events: none;
} */

/* Propiedades de la clase slider */
/* li.slider{
    width: 33.3%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* Esto hace que el slider esté posicionado por debajo del enlace */
    /* z-index: 8;
    transition: left 0.3s, background-color 0.3s;
} */ 

/* .menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
    left: 0;
    background-color: #2E5077;
} */

/* .menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
    left: 33.3%;
    background-color: #4DA1A9;
} */
/* 
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
    left: 66.6%;
    background-color: #79D7BE;
} */

.btns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

/* 17.1. Cambio de color y texto en un botón */
.btn-trans {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: #116D6E;
    color: white;
    position: relative;
    transition: all 1s ease;
}

.btn-trans span {
    display: inline;
    transition: opacity 1s ease;
}

.btn-trans:hover {
    background-color: #321E1E;
}

.btn-trans:hover span {
    opacity: 0;
}

.btn-trans::after {
    content: "Color y texto cambiado";
    display: inline;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-3%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.btn-trans:hover::after {
    opacity: 1;
}

/* 17.2. Cambio de color en un botón */
.btn-trans-clr {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: #4E3636;
    color: white;
    position: relative;
    transition: all 1s ease;
}

.btn-trans-clr:hover {
    background-color: #CD1818;
}

/* 18.1. Propiedades del contenedor y la caja */
.cont-anim {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #3b4554;
    position: relative;
}

.caja-anim {
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    margin: 0;
    background-color: turquoise;
    position: absolute;
    animation: mover 3s ease-in-out infinite; /* Llamar a la animación 'mover' */
}

/* 18.2. Definición de la animación */
@keyframes mover {
    0% {
        left: 5%;
    }

    50% {
        left: 90%;
    }

    100% {
        left: 5%;
    }
}

/* 19.1. Propiedades del elemento a ocultar */
.elm-hidden {
    background-color: #3b4554;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 200px;
}

/* Media Querys de la clase absoluto */
@media (min-width: 639px) {
    .absoluto {
        top: 2360px;
    }
}

@media (max-width: 640px) {
    .absoluto {
        top: 2380.6px;
    }
}

@media (max-width: 630px) {
    .absoluto {
        top: 2398px;
    }
}

@media (max-width: 542px) {
    .absoluto {
        top: 2417px;
    }
}

@media (max-width: 492px) {
    .absoluto {
        top: 2437px;
    }
}

/* 19.2. Media Query para ocultar elemento en pantallas con un ancho menor a 600px */
@media (max-width: 600px) {
    .elm-hidden{
        display: none;
    }
}

.titulo {
    /* text-align: center; */
    color: #fff;
    font-size: 2em;
}

.subt {
    color: #fff;
    font-family: 'Inter';
}